.App {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
}

.formContainer {
	width: 60%;
}

.App .mb-20 {
	margin-bottom: 20px;
}

.primaryButton {
	width: 100%;
}

.avatar {
	max-width: 150px;
	max-height: 150px;
}
